<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75079193779-6pak24r73pipl4hogov2ajuu2m8t1rq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75079193779-6pak24r73pipl4hogov2ajuu2m8t1rq8</string>
	<key>API_KEY</key>
	<string>AIzaSyAvMl2hOkVR5NkspcCYYN1wP7Bu4-Bpo0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>75079193779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.uicgroup.auto.autoUzMobile</string>
	<key>PROJECT_ID</key>
	<string>auto-c617f</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-c617f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75079193779:ios:10260d871f2f0889d2ccc6</string>
</dict>
</plist>